body {
    font-family: var(--font-primary);
    /* 
    MALO PRACTICA definir tamaños fijos en las fuentes
    font-size: 16px; */
    font-size: var(--size-normal);
    background-color: var(--back-color-primary);
    color: var(--color-font);
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
    line-height: 1;
    color: var(--color-primary);
    margin-block: 1rem;
}

h1,
.h1,
.x-large {
    font-size: var(--size-x-large);
}
h1,
.h1 {
    font-family: var(--font-title);
}

h2,
.h2,
.large {
    font-size: var(--size-large);
}
h3,
.h3,
.medium {
    font-size: var(--size-medium);
}
h4,
.h4,
.normal {
    font-size: var(--size-normal);
}
h5,
.h5 {
    font-size: var(--size-small);
}
h6,
.h6 {
    font-size: var(--size-x-small);
}

.scale2 {
    --scala: 1.5;
    --base: 1rem;

    --size-x-large: calc(var(--size-large) * var(--scala));
    --size-large: calc(var(--size-medium) * var(--scala));
    --size-medium: calc(var(--size-normal) * var(--scala));
    --size-normal: var(--base);
    --size-small: calc(var(--size-normal) / var(--scala));
    --size-x-small: calc(var(--size-small) / var(--scala));
}

.button {
    font-family: var(--font-primary);
    font-size: var(--size-normal);
    background-color: var(--back-color-primary);
    color: var(--color-primary);
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
}
