* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    /* font-family: 'Times New Roman', Times, serif; */
    /* font-family: 'Courier New', Courier, monospace; */
    /* font-family: cursive; */
    /* font-family: fantasy; */
}

header,
footer,
main {
    border: 1px solid #000;
}

header {
    min-height: 15vh;
    text-align: center;
    padding-block: 1rem;

    h1 {
        margin: 0;
        padding: 0;
    }
    p {
        margin: 0;
        padding: 0;
    }
}

main {
    min-height: 70vh;

    h2 {
        padding-block: 1rem;
        text-align: center;
        margin-block: 0;
    }

    .column {
       width: 49%;
       display: block;
       float: left;
    }

    .clearfix {
        clear: both;
    }

    p {
        margin-block-start: 0;
        padding-inline: 1rem;
    }

    img {
        max-width: 100%;
        height: auto;
        display: block;
        margin: 1rem auto;
    }
}

footer {
    min-height: 10vh;
    text-align: center;
    padding-block: 1rem;
}
