.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    ul {
        width: auto;
        list-style: none;
        display: flex;
        gap: 1rem;
    }
    svg {
        width: 3rem;
        fill: brown;
    }
}
