/* html { */
:root {
    /* CSS HEX */
    --rich-mahogany: #400406ff;
    --ebony: #515a47ff;
    --soft-fawn: #d7be82ff;
    --saddle-brown: #7a4419ff;
    --olive-bark: #755c1bff;

    --black: rgb(30, 30, 30);
    --light-gray: rgb(60, 60, 60);
    --gray: rgb(100, 100, 100);
    --dark-gray: rgb(180, 180, 180);
    --white: rgb(230, 230, 230);

    /* Paleta de colores */
    /* --color-primary: var(--rich-mahogany);
    --color-font: var(--black); */
    /* --color-secondary: var(--soft-fawn);
    --back-color-primary: var(--color-secondary);
    --back-color-secondary: brown;
    --back-color-accent: rgb(86, 45, 45); */

        /* Paleta de colores: Theme Light / Dark */
    --color-back: light-dark(var(--white), var(--black));
    /* color de fondo principal */
    --color-font: light-dark(var(--black), var(--white));
    /* color de texto */

    --color-primary: light-dark(var(--rich-mahogany), var(--bisque)); 
    /* color principal para elementos destacados */
    /* --color-font-primary: light-dark(var(--bisque), var(--rich-mahogany)); */
    /* color de fuente para elementos secundarios */

    --color-secondary: light-dark(var(--mahogany), var(--soft-fawn));
    /* color secundario para elementos de apoyo */
    --color-font-secondary: light-dark(var(--soft-fawn), var(--mahogany));
    /* color de fuente para elementos secundarios */

    --color-accent: light-dark(var(--soft-fawn), var(--mahogany));
    /* color de acento para elementos interactivos o destacados */
    --color-font-accent: light-dark(var(--rich-mahogany), var(--soft-fawn));
    /* color de fuente para elementos de acento */

    /* Fuentes*/
    --font-primary:
        "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    --font-title: "Arial Black", "Arial Bold", Gadget, sans-serif;

    /* Escala*/
    --scala: 1.2;
    --base: 1rem;

    --size-x-large: calc(var(--size-large) * var(--scala));
    --size-large: calc(var(--size-medium) * var(--scala));
    --size-medium: calc(var(--size-normal) * var(--scala));
    --size-normal: var(--base);
    --size-small: calc(var(--size-normal) / var(--scala));
    --size-x-small: calc(var(--size-small) / var(--scala));
}
